* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: url(/static/background.webp) no-repeat 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 1000px) {
	.gallery {
		column-count: 4 !important;
	}
}

@media screen and (max-width: 900px) {
	.gallery {
		column-count: 3 !important;
	}
}

@media screen and (max-width: 500px) {
	.gallery {
		column-count: 2 !important;
	}
}

@media screen and (max-width: 200px) {
	.gallery {
		column-count: 1 !important;
	}
}

.gallery,
.custom-confirm,
.page-link,
.rightside a {
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery {
	column-count: 5;
	column-gap: 10px;
	max-width: 1200px;
	padding: 20px;
	margin: 20px 10px 40px 10px;
	border-radius: 10px;
	z-index: 20;
	display: none;
}

.gallery-item {
	break-inside: avoid;
	margin-bottom: 10px;
	position: relative;
}

.gallery-item img {
	width: 100%;
	height: auto;
	max-width: 230px;
	border-radius: 8px;
}

.action-buttons {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	gap: 5px;
	margin: 5px;
}


.floating-link,
.top-link {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-btn,
.copy-btn {
    position: absolute;
    top: 5px;
    padding: 5px 5px 0px 5px;
    color: #eee;
    border: none;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 20%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: background-color 0.3s, color 0.3s;
}

.delete-btn {
    right: 5px;
}

.delete-btn:hover {
    background-color: rgb(255 0 0 / .5);
}

.copy-btn {
    right: 40px;
}

.copy-btn:hover {
    background-color: rgb(77 255 85 / .5);
}

.pagination {
    display: flex;
    position: fixed;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10000;
}
.page-link {
	display: inline-block;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	margin: 5px;
	text-align: center;
	line-height: 30px;
	color: #eee;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}
a.page-link.active {
    background-color: rgb(88 221 32 / 54%);
}

.floating-link,
.top-link {
    position: fixed;
    bottom: 45px;
    right: 0;
    padding: 5px 5px 0px 5px;
    margin: 15px;
    border-radius: 10px;
    z-index: 30;
}

.top-link {
    bottom: 0;
}

button:hover,
.rightside a:hover,
.page-link:hover {
	background-color: rgb(0 0 0 / 20%);
}

.floating-link:hover,
.top-link:hover {
    background-color: rgb(0 0 0 / 20%);
    transition: background-color 0.3s, color 0.3s;
}

.copy-success {
	position: fixed;
	top: 0;
	right: 0px;
	font-size: 14px;
	padding: 15px;
	margin: 15px;
	transition: all .4s;
	border-radius: 10px;
	color: #eee;
	z-index: 99;
	background-color: rgb(0 128 0 / .7);
	animation: fadeInshowt .8s forwards;
}

.delete-success {
	position: fixed;
	top: 0;
	right: 0px;
	font-size: 14px;
	padding: 15px;
	margin: 15px;
	transition: all .4s;
	border-radius: 10px;
	color: #eee;
	z-index: 99;
	background-color: rgb(255 0 0 / .5);
	animation: fadeInshowt .8s forwards;
}

@keyframes fadeInshowt {
	0% {
		opacity: 0;
		transform: translateX(0%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.message-right {
	animation: fadeOutRight .8s forwards;
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

.custom-confirm {
	position: fixed;
	top: 35%;
	padding: 20px;
	border-radius: 10px;
	z-index: 30;
	animation: fadeshowt .4s forwards;
}


@keyframes fadeshowt {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.confirm-message {
	padding: 15px;
	margin-bottom: 15px;
	font-size: 24px;
}

.confirm-buttons {
	display: flex;
	justify-content: center;
	gap: 50px;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 10px 25px;
	font-size: 16px;
	transition: 0.2s;
	background-color: rgba(255, 255, 255, 0.2);
	transition: background-color 0.3s, color 0.3s;
}

.loading-indicator {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	padding: 30px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.spinner {
	width: 60px;
	height: 60px;
	border: 4px solid #bbb;
	border-top: 4px solid #0099ff;
	border-radius: 50%;
	margin: auto;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
	width: 0;
}
