* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*input内文字颜色*/
::-webkit-input-placeholder {
   color: #555;
}
/*滚动条*/
::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #000;
    padding: 20px 30px;
    background: url(/static/background.webp) no-repeat 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-tap-highlight-color: transparent;
}

nav,
#urlOutput,
#imageInfo,
#imageUploadBox,
#pasteOrUrlInput,
.logotitle,
.uploadForm,
.copy-indicator {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*鼠标小圆点*/
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 25px;
    opacity: .25;
    z-index: 10086;
    pointer-events: none;
    transition: .2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.active {
    opacity: .5;
    transform: scale(.5);
}

.uploadForm {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 45px;
}

#deleteImageButton {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000a6;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin: 8px;
    z-index: 99;
}

#uploadForm {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

#imageInput {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

#imagePreview {
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    border-radius: 8px;
}

#parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#pasteOrUrlInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    outline: 0;
    border: 1px solid #aaa;
}

#pasteOrUrlInputBox {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

#progressContainer {
    position: fixed;
    width: 100%;
    background: rgb(255 255 255 / 20%);
    border-radius: 8px;
    overflow: hidden;
    display: none;
    bottom: 0px;
    font-size: 10px;
}

#progressBar {
    height: 12px;
    background: linear-gradient(90deg, rgb(244 128 246 / 40%) 0, rgb(115 255 241 / 60%) 50%, rgb(115 255 241 / 80%) 100%);
    width: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: width 0.3s;
    line-height: 12px;
    border-radius: 8px;
}

#urlOutput {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    word-wrap: break-word;
}

.copy-indicator {
    padding: 10px;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-size: 16px;
    margin: 5px auto;
    overflow: hidden;
    outline: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

#imageUploadBox {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}

#parameters label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#imageInfo {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

#imageInfo h2 {
    text-align: center;
    margin-top: 0;
}

.copy-indicator:hover {
    border-color: #76c7c0;
}

.double-column-layout {
    display: flex;
    justify-content: space-between;
}

.double-column-layout>div {
    flex-basis: 50%;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .double-column-layout {
        display: none;
        visibility: hidden;
        height: 0;
    }
}

.copy-success {
    position: fixed;
    top: 0;
    right: 0px;
    font-size: 14px;
    padding: 15px;
    margin: 15px;
    transition: all .4s;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(0 128 0 / .7);
    animation: fadeInshowt .8s forwards;
}

.delete-success {
    position: fixed;
    top: 0;
    right: 0px;
    font-size: 14px;
    padding: 15px;
    margin: 15px;
    transition: all .4s;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(255 0 0 / .5);
    animation: fadeInshowt .8s forwards;
}
@keyframes fadeInshowt {
    0% {
        opacity: 0;
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.message-right {
    animation: fadeOutRight .8s forwards;
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.hidden-input {
    display: none;
}
